@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    margin-top: 4rem;
  padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.1em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: var(--color-primary);
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: var(--color-primary-variant);
}
/* @media screen and (max-width:1024px){
    .text-shpere{
        width: 80%;
    }
     } */
     @media screen and (max-width:600px){
    .text-shpere{
        margin-left: 10px;
    }
    
     }